
@font-face {
    font-family: 'Inter';
    src:  url('/font/Inter-Regular') format('otf');
}

.login-container {
    font-family: 'Inter';
    padding-top: 93px;
    padding-left: 35px;
    padding-right: 35px;
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    .main-container {    
        max-width: 400px;
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-bottom: 25px;
    }
    
    .header {
        display: flex;
        align-items: center;
        width: 100%;
        img {
            height: 35px;
            margin-right: 15px;
        }
        .header-text {
            display: flex;
            align-items: baseline;
        }
        .main-caption {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            margin-right: 10px;
            color: #282828;
        }
        .sub-caption {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            /* identical to box height */
            color: #B7B7B7;
        }
    }
    button {
        border-radius: 30px;
        border: 1px solid #B7B7B7;
        padding-left: 34px !important;
        padding-right: 34px !important;
        padding-top: 7px !important;
        padding-bottom: 7px !important;
        width: 100% !important;
        text-transform: none !important;
    }
    .signin {
        margin-bottom: 9vh;
    }
    .login-form {
        margin-top: 3vh;
    }
    .btn-login {
        background-color: #282828 !important;
        color: white;
    }
    .copyright-container {
        position: relative;
        min-height: 100px;
        flex-grow: 1;
    }
    .copyright {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    
        color: #B7B7B7;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
}

.makeStyles-globalStyle-1 {
    height: 100%;
}