.error-container {
    position: relative;
    height: 100%;
    background: linear-gradient(180deg, #E8ECE4 36.17%, #BFBFBF 72.83%);
    img {
        width: 78px;
        height: 78px;
    }
    p{
        margin-top: 30px;
    }
    .error-box {
        position: absolute;
        left: 0;
        right: 0;
        top: 30%;
        display: flex;
        justify-content: center;
    }
    .img-cover {
        display: flex;
        justify-content: center;
    }
}